#title{
    background-color: #fc425e;
    color:white;
}



#header h1{
    font-family: 'Montserrat', sans-serif;
   font-weight: 600;
    font-size:3.5rem;
    line-height: 1.5;
    
    margin-bottom: 35px;
}

.container-fluid{
    padding: 3% 15%;
}
.btn{
    border-radius: 7px;
}

.btn-left{
    margin-right: 12px;
}

.navbar-brand{
    font-family: 'ubuntu', sans-serif;
    font-size: 50px;

}

.navbar{
    margin-bottom: 80px;
}

.nav-item{
padding: 0px  15px;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: 400;
}


.head-img img{
    width: 18rem;
    transform: rotate(25deg);
    position: absolute;
    z-index: 0;
    top: 12rem;
    left: 49rem;
}




/* features */
#features{
    background-color: white;
    /* margin-top: 0rem; */
    text-align: center;
    position:relative;
    z-index: 1;
}

/* heat,bulleye aur circle wale icons */
#features svg{
margin-bottom: 2.25rem;
}


#features h3{
font-family:  'Montserrat', sans-serif;
font-size: 1.5rem;
font-weight:900;
}
#features p{
    font-family:  'Montserrat', sans-serif;
    font-weight:400;
    
}

.features-inside{
    margin:50px auto;
    
}


/* hovering check circle,heart */
.bi:hover {
    /* color:#ff4c68; */
    fill:#ff4c68;
}




/* testimonials */

#testimonials{

    background-color: #ef8172;
    color: white;
    /* padding:4% 15%; */
    text-align: center;

}


/* testimonal text */

#testimonials h2{
    font-family:  'Montserrat', sans-serif;
    /* color: white; */
    font-size: 3rem;
    font-weight: 600;
    line-height:1.5;

}

.testimonial-image{
    border-radius: 100%;
    margin: 57px 3px;
    width: 14%;
    position: relative;
    left: 68px;
}
.carousel-inner{
    padding: 2rem;
}

.img-description{
    position: relative;
    left:71px;
}


#press{
background-color: #ef8172;
padding-bottom: 1%;
text-align: center;

}


#press img{
    width:13%;
    margin:0px 69px;
    align-items: left;
    
}


/* testimonials */

.card{
    height:329px;
    width:488.38px;
}

/* pricing */
#pricing{
    text-align: center;
}


#pricing button{

  max-width: 330px;
}

#pricing .row{
    padding: 4% 0%;
}


/* pricing */



/* cta */
#cta{

    background-color: #fc425e;
    text-align: center;
    padding: 7.5rem 2rem;
    margin-bottom: 6rem;    

}

#cta h3{
    color: white;
    font-size: 4rem;
    font-family:  'Montserrat', sans-serif;
    font-weight: bold;
    margin-bottom: 4rem;;

}
 #cta button{
    margin-left: 1rem;
 }



.social-media{
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1rem;
 }


/* cta ends*/


/* footer */

#footer{
  
    text-align: center;
    
}

#footer p{
    margin-top: 1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
    font-size: 1.125rem;
}

/* footer ends */



/* for tablet size */
@media (max-width:990px){
      #header{
            text-align: center;

      }      
    .head-img img{
        width: 28rem;
        transform: rotate(0deg);
        position: static;
        margin-top: 4rem;
    }

    .mastiff{
        display:block;
        width: 100%;
    }

}